<%- include('_layouts/header')  -%>
<h3>My Cart</h3>
<br>
<div class="alert alert-danger d-none" id="charge-error"></div>
<% if (cart) { %>

<table class="table table-striped table-responsive aligncenter">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>

    </thead>

    <!-- <tbody> -->
    <% let total=0; %>
    <% let subTotal=0; %>
    <% let productArray=[]; %>
    <% let prod=[]; %>
    <% cart.forEach(c => { %>

    <% subTotal = +parseFloat(c.qty*c.price).toFixed(2); %>
    <%  total +=  subTotal; %>
    <% productArray.push({product:c}); %>
    <tr>

        <td><img class="checkoutImg" src="<%= c.item.image %>" alt=""></td>
        <td><%= c.item.title %> </td>
        <td>N <%= c.price %> </td>
        <td><%= c.qty %> </td>
        <td>
            <a href="/cart/update/<%= c.item.title %>?action=add">+</a>&nbsp;&nbsp;
            <a href="/cart/update/<%= c.item.title %>?action=remove">-</a>&nbsp;&nbsp;
            <a href="/cart/update/<%= c.item.title %>?action=clear">clear</a>
        </td>
        <td>N <%= subTotal %> </td>

    </tr>

    <% }) %>
    <tr>
        <td colspan="6" align="right"><b>Total: N <%= total%> </b></td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            <a id="clearCart" class="btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>

        <td colspan="5" align="right">
            <form action="/paystack/pay" method="post" id="payment-form">

                <input id="amount" type="hidden" name="amount" value="<%= total%>">
                <input id="cart" type="hidden" name="items" value="<%= JSON.stringify(cart)%>">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-warning" type="submit">Pay Now</button>

            </form>

        </td>
    </tr>
    <!-- </tbody> -->
</table>
<% }else{ %>
<h3 class=" text-center">Your cart is empty</h3>
<% } %>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
<script src="https://js.paystack.co/v1/inline.js"></script>
<!-- <script src="/js/checkout.js"></script> -->
<%- include('modal/confirm') -%>
<%- include('_layouts/footer') -%>